@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Изложба на кучета</h1>
    <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" alt="Изложба на кучета" width="250" />
    <p>Кучето е средноголям бозайник, подвид на вълка , опитомен още от зората на човечеството.Едни от първите домашни животни, кучетата се използват широко по целия свят и играят важна роля в ранните човешки селища.</p>

</div>
