@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Изложба на кучета</h1>
    <h2>Кучета</h2>
    <a href="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" target="_blank">
        <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" alt="Изложба на кучета" width="250" />
    </a>

    <p>Кучето е средноголям бозайник, подвид на вълка , опитомен още от зората на човечеството.Едни от първите домашни животни, кучетата се използват широко по целия свят и играят важна роля в ранните човешки селища.</p>

    <b>Подготовка</b>
    <p style="color:darkorange;">В деня на изложбата кучето грижливо се сресва и изчиства, а непосредствено преди излизането на  изложбения терен се изтрива внимателно със сукнена кърпа. Мустаците, брадата и ресните (ако ги има) се оправят и вмесват в естествената им посока.</p>

    <a href="http://3.bp.blogspot.com/-javCjgEV3kA/UcAKIx90QdI/AAAAAAAADrc/En9SzR_0O54/s640/Dog-wallpaper+(2).jpg" target="_blank">
        <img src="http://3.bp.blogspot.com/-javCjgEV3kA/UcAKIx90QdI/AAAAAAAADrc/En9SzR_0O54/s640/Dog-wallpaper+(2).jpg" alt="куче" width="250" />
    </a>

    <a href="http://2.bp.blogspot.com/-KcMzAsgSQg4/UcAKK4JaT_I/AAAAAAAADrs/RggJLMAdfQE/s640/Dog-wallpaper+(3).jpg" target="_blank">
        <img src="http://2.bp.blogspot.com/-KcMzAsgSQg4/UcAKK4JaT_I/AAAAAAAADrs/RggJLMAdfQE/s640/Dog-wallpaper+(3).jpg" alt="куче" width="250" />
    </a>

    <a href="http://4.bp.blogspot.com/-gsQnxRyH1Q4/UcAKK8jHbiI/AAAAAAAADrw/HYAL1PLQdmY/s640/Dog-wallpaper+(6).jpg" target="_blank">
        <img src="http://4.bp.blogspot.com/-gsQnxRyH1Q4/UcAKK8jHbiI/AAAAAAAADrw/HYAL1PLQdmY/s640/Dog-wallpaper+(6).jpg" alt="куче" width="250" />
    </a>
</div>