@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Изложба на кучета</h1>

    <h2>Кучета</h2>
    <a href="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" target="_blank">
        <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" alt="Изложба на кучета" width="250" />
    </a>

    <p>Кучето е средноголям бозайник, подвид на вълка , опитомен още от зората на човечеството.Едни от първите домашни животни, кучетата се използват широко по целия свят и играят важна роля в ранните човешки селища.</p>

    <b>Подготовка</b>
    <p style="color:darkorange;">В деня на изложбата кучето грижливо се сресва и изчиства, а непосредствено преди излизането на  изложбения терен се изтрива внимателно със сукнена кърпа. Мустаците, брадата и ресните (ако ги има) се оправят и вмесват в естествената им посока.</p>

    <a href="http://3.bp.blogspot.com/-javCjgEV3kA/UcAKIx90QdI/AAAAAAAADrc/En9SzR_0O54/s640/Dog-wallpaper+(2).jpg" target="_blank">
        <img src="http://3.bp.blogspot.com/-javCjgEV3kA/UcAKIx90QdI/AAAAAAAADrc/En9SzR_0O54/s640/Dog-wallpaper+(2).jpg" alt="куче" width="250" height="250" />
    </a>

    <a href="http://2.bp.blogspot.com/-KcMzAsgSQg4/UcAKK4JaT_I/AAAAAAAADrs/RggJLMAdfQE/s640/Dog-wallpaper+(3).jpg" target="_blank">
        <img src="http://2.bp.blogspot.com/-KcMzAsgSQg4/UcAKK4JaT_I/AAAAAAAADrs/RggJLMAdfQE/s640/Dog-wallpaper+(3).jpg" alt="куче" width="250" height="250" />
    </a>

    <a href="http://4.bp.blogspot.com/-gsQnxRyH1Q4/UcAKK8jHbiI/AAAAAAAADrw/HYAL1PLQdmY/s640/Dog-wallpaper+(6).jpg" target="_blank">
        <img src="http://4.bp.blogspot.com/-gsQnxRyH1Q4/UcAKK8jHbiI/AAAAAAAADrw/HYAL1PLQdmY/s640/Dog-wallpaper+(6).jpg" alt="куче" width="250" height="250" />
    </a>
</div>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Възраст на кучето
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">1-5</a></li>
        <li><a href="#">6-10</a></li>
        <li><a href="#">10+</a></li>
        <li><a href="#">3456</a></li>
        <li><a href="#">13253546</a></li>
        <li><a href="#">123456u</a></li>

    </ul>
</div>

<!-- Trigger the modal with a button -->
<button style= background-color:darkorange type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Какво трябва да знаете</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Подготовка</h4>
            </div>
            <div class="modal-body">
                <p>Към подготовката на кучето за изложба трябва да се подходи с необходимата сериозност и полагащо се внимание поне 1 месец преди това, като се прецени реално неговото състояние в момента (най-вече здравословно състояние и охраненост).Около 1 седмица преди изложбата се извършва къпане. Няколко дни преди изложбата се извършва триминг. В деня на изложбата кучето грижливо се сресва и изчиства. Голямо внимание трябва да се отдели на избора на нашийник и ремък, с които кучето ще бъде показано на изложбата.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>

</div>
