@model OrderCreateBindingModel

<form asp-controller="Orders" asp-action="Create" method="post">
    <div class="d-flex align-items-center">
        <label text-left mr-1" asp-for="SkateboardsCount" style="color:purple">Count: </label>
        <div class="mr-1">
            <input class="form-control text-center" style="color:seagreen" min-1 asp-for="SkateboardsCount" />
            <span asp-validation-for="SkateboardsCount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="color:white; background-color:purple; border-color:purple">Buy</button>
    </div>
    <input type="hidden" asp-for="SkateboardId" value="@Model.SkateboardId" />
</form>
