
@using SkateApp.Models
@model OrderCreateBindingModel
@{
    ViewData["Title"] = "Success";
}
<h1 class="text-center" style="color:purple">You successfully ordered a skateboard!</h1>
</br>
<div class="text-center">
    <a class=" btn btn-primary text-center" asp-controller="Skateboards" asp-action="All" style="color:white; border-color:forestgreen; background-color:forestgreen">Continue shopping</a>
</div>
</br>
</br>
<img class=".containerSuccess " style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/harold-thumbs-up-meme-04ebd7780a3cc45afde437dba36fdac1.jpg" alt="success" />
