@model OrderCreateBindingModel

<form asp-controller="Orders" asp-action="Create" method="post">
    <div class="d-flex align-items-center">
        <label class="font-weight-bold" text-left mr-1" asp-for="Count">Products count:</label>
        <div class="mr-1">
            <input class="form-control" min-1 asp-for="Count" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Order</button>
    </div>
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
</form>
