
@using CatAppWeb.Models
@model CatCreateViewModel
@{
    ViewData["Title"] = "Success";
}
<h1>You created a new cat successfully!</h1>
<div>
    <a asp-action="Create">Create new cat</a>
</div>

<div>
    <a asp-action="All">List all cats</a>
</div>
