@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Книги</h1>

    <h2>Книгите</h2>
    <a href="https://velingrad.bg/main/wp-content/uploads/2019/02/9ith0o.jpg" target="_blank">
        <img src="https://velingrad.bg/main/wp-content/uploads/2019/02/9ith0o.jpg" alt="книга" width="250" />
    </a>

    <p>Книгата е печатно произведение с научно или литературно съдържание. Представлява набор от писмени, печатни, илюстрирани или бели листа, изработени от мастило, хартия, пергамент или други материали, подвързани заедно от едната страна. Книгата може да е с меки или твърди корици.</p>

    <b>Относно</b>
    <p style="color:darkorange;">
        Книгите са произведения с литературно съдържание. В библиотечните и информационни науки една книга се нарича монография, за да се разграничи от серийните периодични издания, като например списания, журнали и вестници. Основата на всички писмени творби, включително и на книгите, е литературата. При романите и при някои други видове книги (например научните трудове) едно произведение може да бъде разделено на няколко части, наричани томове (том 1, том 2, том 3 и т.н.) Запалените читатели на книги се наричат библиофили.

        Магазинът за книги се нарича книжарница.
    </p>

    <a href="https://cdn.actualno.eu/actualno_2013/upload/news/2015/11/06/0907790001446813839_506080_920x517.webp" target="_blank">
        <img src="https://cdn.actualno.eu/actualno_2013/upload/news/2015/11/06/0907790001446813839_506080_920x517.webp" alt="книга" width="250" height="250"/>
    </a>

    <a href="https://dvetemuzi.com/wp-content/uploads/2021/03/shutterstock_135114548.jpg" target="_blank">
        <img src="https://dvetemuzi.com/wp-content/uploads/2021/03/shutterstock_135114548.jpg" alt="книга" width="250" height="250"/>
    </a>

    <a href="https://www.obekti.bg/sites/default/files/styles/article_gallery/public/images/shutterstock_112295444.jpg?itok=J6r4B9aX" target="_blank">
        <img src="https://www.obekti.bg/sites/default/files/styles/article_gallery/public/images/shutterstock_112295444.jpg?itok=J6r4B9aX" alt="книга" width="250" height="250"/>
    </a>
</div>
