@using Microsoft.AspNetCore.Identity
@using SkateApp.Domain
@inject SignInManager<SkateboardsUser> SignInManager
@inject UserManager<SkateboardsUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:purple">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link " style="color:purple" asp-controller="Skateboards" asp-action="My">My orders</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link " style="color:purple" asp-controller="Skateboards" asp-action="Favorite">Favorites</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link" style="color:purple">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="color:purple">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color:purple">Login</a>
        </li>
    }
</ul>
