@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Котки</h1>

    <h2>Котки</h2>
    <a href="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" target="_blank">
        <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" alt="Изложба на кучета" width="250" />
    </a>

    <p>Котка (Felis silvestris catus), наричана също домашна котка, е подвид на дивата котка, бозайник от семейство Коткови (Felidae).</p>

    <b>Котки</b>
    <p style="color:dimgrey;">Котките живеят в близост до хората от преди поне 3500 години (въпреки че не са изцяло опитомени като кучетата). В Древен Египет котките са били използвани за пазачи на складираното зърно от мишки и други гризачи, като наказанието за убита котка в Древен Египет е било смърт. В наше време котките са едни от най-разпространените домашни любимци. Малък процент от тях (около 1%) са чистокръвни (с регистрирано родословие); останалите 99% са кръстоски между различни породи.</p>

    <a href="https://th.bing.com/th/id/R.2092847f219fb27804cde81ace8d0bdb?rik=veiEqxJu3OtNTQ&pid=ImgRaw&r=0" target="_blank">
        <img src="https://th.bing.com/th/id/R.2092847f219fb27804cde81ace8d0bdb?rik=veiEqxJu3OtNTQ&pid=ImgRaw&r=0" alt="котка" width="250" height="250" />
    </a>

    <a href="https://th.bing.com/th/id/OIP.UF33GkNrbrrhMGC1xo0_KwHaFB?pid=ImgDet&rs=1" target="_blank">
        <img src="https://th.bing.com/th/id/OIP.UF33GkNrbrrhMGC1xo0_KwHaFB?pid=ImgDet&rs=1" alt="котка" width="250" height="250" />
    </a>

    <a href="https://th.bing.com/th/id/R.d0f7f5698120ead869611b6c39fd78f9?rik=nvbSjut1kZkVXg&pid=ImgRaw&r=0" target="_blank">
        <img src="https://th.bing.com/th/id/R.d0f7f5698120ead869611b6c39fd78f9?rik=nvbSjut1kZkVXg&pid=ImgRaw&r=0" alt="котка" width="250" height="250" />
    </a>
</div>

